body {
    // positioning
    // position: relative;

    // box model
    padding: 0;
    padding-bottom: 60px;
    margin: 0;
    min-width: 320px;

    // typography
    color: $fontColorMain;
    font-family: $fontFamilyMain;

    // visual
    background-color: #f1f1f1;
}

html {
    // positioning
    position: relative;
    min-height: 100%;
}
