
.icon-tumblr:before { content: '\e800'; } /* '' */
.icon-vkontakte:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */