@media all and (max-width: 719px) {
    .header {
        background-image: none;
        background-color: red;
    }
}

@media all and (min-width:720px) and (max-width:999px) {
    .container {
        /* box model */
        width: 96%;
        width: calc(100% - 10px);
    }

    .main-header {
        padding-top: 25px;
        padding-left: 75px;
        font-size: 32px;
    }

    .header .author {
        padding-left: 75px;
        font-size: 14px;
        font-weight: bold;
    }

    .main-nav a {
        padding: 0 10px;
        font-size: 14px;
    }
}
