.header {
    // positioning
    position: absolute;
    z-index: 3;

    // block model
    width: 100%;

    // typography
    font-size: 0;

    // visual
    background-color: rgba(4, 4, 4, .5);
    transition: all .5s linear;

    &--menu-shown {
        //visual
        background-color: #f1f1f1;
        background-color: rgba(241, 241, 241, .9);
    }

    &:after {
        content: "";

        // block model
        display: table;
        width: 100%;
        clear: both;
    }

    &--gallery {
        // visual
        background-color: #ffffff;
    }
}
