.main-footer {
    // block model
    padding-top: 50px;
    width: 100%;

    // visual
    background-color: #040404;

    &__caption {
        // block model
        padding-bottom: 50px;

        // typography
        color: #f1f1f1;
        font-family: $fontSerifCaption;
        font-weight: normal;
        text-align: center;
    }

    &__text {
        // block model
        padding: 0 20px;

        // typography
        color: #f1f1f1;
        line-height: 1.4;
    }

    &__link {
        // block model
        padding: 5px 0;

        // typography
        color: #040404;
        //        color: #f1f1f1;
        text-decoration: none;

        // visual
        border-bottom: 1px dashed #f1f1f1;
        background-color: #f1f1f1;
    }

    &__info-block {
        // block model
        padding-bottom: 15px;
        padding-top: 50px;

        // typography
        color: #f1f1f1;
        text-align: center;
        font-size: 14px;
        line-height: 20px;

        // visual
    }
}
