
.menu-button {
    // positioning
    position: absolute;
    right: 20px;
    top: 30px;

    // box model
    width: 24px;

    // visual
    cursor: pointer;
    fill: #f1f1f1;

    &--gallery {
        // visual
        fill: #000000;
    }

    @media (min-width: $tablet) {
        // box model
        display: none;
    }
}
