// fonts
$fontFamilyMobileMenu: "Roboto", sans-serif;
// $fontFamilyMobileMenu: "Noto Sans", sans-serif;
$fontFamilyMain: "Roboto", sans-serif;
// $fontFamilyMain: "Noto Sans", sans-serif;
// $fontFamilyMain: "Noto Serif", sans-serif;
$fontSerifCaption: "Playfair Display SC", serif;

// colors
$fontColorMain: #000000;
$backColorMain: #f1f1f1;

// sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1000px;
