@import "vars";

@import "fonts";
@import "normalize";
@import "icons";

@import "body";
@import "container";
@import "header";
@import "logo";
@import "main-menu";
@import "menu-button";
@import "hero";
@import "about-me";
@import "social";
@import "about";
@import "main-footer";
@import "gallery";
@import "blog";
@import "simple-footer";
@import "preorder-option";
@import "form";

a {
    text-decoration: none;
}

.page-name {
    // box model  
    padding-bottom: 0;

    // typography
    color: #f1f1f1;
    font-family: $fontSerifCaption;
    font-size: 22px;
    font-weight: normal;
    text-align: center;

    @media (min-width: $tablet) {
        // typography
        font-size: 28px;
    }

    @media (min-width: $desktop) {
        // typography
        font-size: 32px;
    }
}

.m-only {
    @media (min-width: $tablet) {
        display: none;
    }
}
