@import "vars";

@import "fonts";
@import "normalize";
@import "icons";

@import "body";
@import "container";
@import "header";
@import "logo";
@import "main-menu";
@import "hero";
@import "social";
@import "about";
@import "main-footer";
@import "gallery";


a {
    text-decoration: none;
}

.page-name {
    // block model
    padding-bottom: 0;

    // typography
    color: #f1f1f1;
    font-family: $fontSerifCaption;
    font-size: 22px;
    font-weight: normal;
    text-align: center;

    @media (min-width: $tablet) {
        // typography
        font-size: 28px;
    }

    @media (min-width: $desktop) {
        // typography
        font-size: 32px;
    }
}
